modules/integration/src/main/xsd/ToolBoxContent.xsd

<!--

    Copyright 2017 European Commission

    Licensed under the EUPL, Version 1.2 or – as soon they will be approved by the European Commission - subsequent versions of the EUPL (the "Licence");
    You may not use this work except in compliance with the Licence.
    You may obtain a copy of the Licence at:

        https://joinup.ec.europa.eu/software/page/eupl

    Unless required by applicable law or agreed to in writing, software distributed under the Licence is distributed on an "AS IS" basis,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the Licence for the specific language governing permissions and limitations under the Licence.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="includeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="ref"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="includesType">
        <xs:sequence>
            <xs:element type="includeType" name="include" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="excludeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="ref"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="excludesType">
        <xs:sequence>
            <xs:element type="excludeType" name="exclude" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="resourceType">
        <xs:sequence>
            <xs:choice>
                <xs:element type="excludesType" name="excludes" minOccurs="0"/>
                <xs:element type="includesType" name="includes" minOccurs="0"/>
            </xs:choice>
            <xs:element type="resourceType" name="resource" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="ref"/>
    </xs:complexType>
    <xs:element name="importJob">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="leos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="resource" type="resourceType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="formats">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="legisWrite">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="format" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="pdf">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="format" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="filename"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="importOptions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="importJob" maxOccurs="unbounded" minOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>